.container
  .row
    .col-sm-10.offset-sm-2
      %h1 Instant Pot Reviews and Recipes

  .row
    .col-sm-10.offset-sm-2
      = image_tag('pho.jpg')

  .row
    .col-sm-10.offset-sm-2
      %h2 Best Instant Pot Recipes
      %ul
        %li= link_to 'Instant Pot Yogurt', '#'
        %li= link_to 'Instant Pot Canning', '#'
        %li= link_to 'Instant Pot Rice', '#'
        %li= link_to 'Instant Pot Chili', '#'
        %li= link_to 'Instant Pot Vegetarian Chili', '#'
        %li= link_to 'Instant Pot Pho', '#'
