- content_for(:title) {"Instant Pot Chicken Tikka Masala Recipe - Instant Pot Reviews"}
.container
  .row
    .col-sm-12.text-center
      %h1 Instant Pot Chicken Tikka Masala

  .row
    .col-sm-8.offset-sm-2
      = image_tag('chicken-tikka-masala-served.jpg')

  .row
    .col-sm-6.recipe-panel
      %h3 Ingredients
      %i Serves 4
      %ul
        %li 2.5 lb boneless/skinless chicken thighs, cut into pieces (or 3 lb bone-in drumsticks and thighs if you prefer)
        %li 2 tbsp butter
        %li 1 large onion, diced
        %li 5 cloves garlic, minced
        %li 1 tbsp freshly grated ginger
        %li 1 can crushed tomatoes
        %li ½ cup chicken broth
        %li ½ cup heavy cream

      %h3 Spice Mix
      %ul
        %li 1 tbsp cumin
        %li 1½ tbsp paprika
        %li 1½ tbsp ground coriander
        %li 1 tbsp ground turmeric
        %li ¼ tbsp cayenne pepper
        %li 1 stick cinnamon

      %h3 Marinade
      %ul
        %li ½ cup Greek Yogurt
        %li 1 tbsp salt
        %li ½ tbsp cumin

      = image_tag('chicken-tikka-masala-ingredients.jpg')

    .col-sm-6.recipe-panel
      %h3 Instructions
      %ol
        %li
          %div Mix Marinade ingredients and add chicken. Set aside to marinade for 20 minutes.
          = image_tag('chicken-tikka-masala-mix.jpg')
        %li Press the Sauté button on the Instant Pot and wait until the display indicates the insert is heated (it’ll say "On").
        %li Add the butter. Once it’s clarified, add the onions, garlic, and ginger. Cook for 3-5 minutes.
        %li
          %div Add chicken broth to deglaze the pot, and stir in the Spice Mix.
          = image_tag('chicken-tikka-masala-add-broth.jpg')
        %li Pour in the can of tomatoes. Mix thoroughly and cook for a couple minutes.
        %li Hit "Cancel" to stop the pot from cooking. Stir in the marinated chicken.
        %li Set the pressure cooker:
        %li
          %ol
            %li Close and lock the lid.
            %li Make sure the steam vent is in the "Sealing" position.
            %li Press "Manual" and set the timer to 15 minutes. Click "Pressure" and set to "High Pressure".
        %li
          %div After the Instant Pot is done cooking, allow the pressure to naturally release.
          = image_tag('chicken-tikka-masala-almost-finished-in-pot.jpg')
        %li
          %div Remove lid. Add heavy cream and let the pot simmer until sauce is thickened.
          = image_tag('chicken-tikka-masala-finished-in-pot.jpg')

