- content_for(:title) {"Instant Pot Chili Recipe - Instant Pot Reviews"}
.container
  .row
    .col-sm-12.text-center
      %h1 Instant Pot Chili Recipe

  .row
    .col-sm-8.offset-sm-2
      = image_tag('chili-on-bread.jpg')

  .row
    .col-sm-6.recipe-panel
      %h3 Ingredients
      %i Serves 6-8
      %ul
        %li 1 tablespoon cooking oil or cooking fat of choice
        %li 1 large yellow onion, diced
        %li 1 red bell pepper, diced
        %li Kosher salt
        %li 2 tablespoons tomato paste
        %li 4 garlic cloves,minced
        %li 2 pounds ground beef
        %li 2 tablespoons chili powder
        %li 1 tablespoon dried oregano
        %li 1 tablespoon ground cumin
        %li ¼ teaspoon cayenne pepper
        %li ¼ teaspoon paprika
        %li 1 (14.5 ounce) can fire-roasted diced tomatoes, drained
        %li 1 can crushed tomato
        %li 1 can black beans
        %li 1 can kidney beans
        %li ½ cup chicken broth or bone broth
        %li 2 teaspoons fish sauce
        %li 1 tablespoon apple cider vinegar (optional)
        %li Dried or canned chipotle peppers to taste (optional)

      %h3 Suggested Toppings
      %ul
        %li Sour cream
        %li Shredded cheese of choice
        %li Lime wedges
        %li Cilantro, finely chopped
        %li Onion, finely chopped
        %li Avocado, sliced
        %li Jalapeño, finely chopped
        %li Serve with rice, baguette, or other carb of choice
      = image_tag('chili-fixings-all.jpg')

    .col-sm-6.recipe-panel
      %h3 Instructions
      %ol
        %li Press the Sauté button on the Instant Pot and wait until the display indicates the insert is heated (it'll say "On").
        %li
          %div Add the cooking fat/oil. Once it's hot (drop a small piece of onion in and it should sizzle), add the diced onions, bell pepper, garlic. Cook for 3-5 minutes.
          = image_tag('chili-peppers.jpg')
        %li Add the ground beef and sauté until browned, stirring frequently.
        %li
          %div Stir in tomato paste, chili powder, oregano, cumin, cayenne, and paprika. Once combined, add in the diced tomatoes, the can of crushed tomatoes, fish sauce, and broth. Stir thoroughly.
          = image_tag('chili-ingredients.jpg')
        %li Close and lock the Instant Pot lid.
        %li Make sure the steam vent is in the "Sealing" position.
        %li Press "Manual" and set the timer to 20 minutes. Press "Pressure" and set to "High Pressure".
        %li After the Instant Pot is done cooking, allow it to naturally release the pressure for about 30 minutes. 
        %li Add salt and apple cider vinegar to taste.
      = image_tag('chili-bread-in-bowl.jpg')
