- content_for(:title) {"Instant Pot Chinese Century Egg and Pork Congee 皮蛋瘦肉粥 - Instant Pot Reviews"}
- content_for(:h1) {"Instant Pot Chinese Century Egg and Pork Congee 皮蛋瘦肉粥"}
- content_for(:h5) {"Serves 4. Prep time 5 minutes, cooking time 50 minutes."}
- content_for(:hero) {image_tag('chinese-century-egg-and-pork-congee-cover.jpg')}
- content_for(:og_image) {image_url('chinese-century-egg-and-pork-congee-cover.jpg')}
- content_for(:og_title) {"Instant Pot Chinese Century Egg and Pork Congee Recipe"}
- content_for(:og_description) {"Serves 4. Prep time 5 minutes, cooking time 50 minutes."}

- content_for(:ingredients) do
  %ul
    %li 1 cup white rice
    %li 1 pound lean pork
    %li 4 thin slices of ginger
    %li 7 cups of water
    %li ½ tsp sesame oil
    %li ½ tsp white pepper
    %li 3 century eggs
    %li chopped scallions for garnish

  = image_tag('chinese-century-egg-and-pork-congee-ingredients.jpg')

- content_for(:instructions) do
  %ol
    %li Rinse the white rice. Place the rice, pork, ginger, and water in the instant pot.
    %li= image_tag('chinese-century-egg-and-pork-congee-uncooked.jpg')

    %li
      %div Set the pressure cooker:
      %ol
        %li Close and lock the lid.
        %li Make sure the steam vent is in the "Sealing" position.
        %li Using the "Manual" setting on "High Pressure", set to cook for 35 minutes.

    %li
      %div After the Instant Pot is done cooking, allow the pressure to naturally release (about 20 minutes).
      = image_tag('chinese-century-egg-and-pork-congee-cooked.jpg')

    %li
      %div Pick out and set aside the pork pieces and ginger.
      = image_tag('chinese-century-egg-and-pork-congee-shredded-pork.jpg')

    %li
      %div Using a blender, pulse the rice and liquid a couple times to break up the rice and thicken the porridge.
      = image_tag('chinese-century-egg-and-pork-congee-blender.jpg')

    %li
      %div Shred the pork and chop the century eggs. Return to the pot, adding the sesame oil, white pepper, the contents of the blender, and salt to taste. Mix well.
      = image_tag('chinese-century-egg-and-pork-congee-post-blending.jpg')

    %li
      %div Use the "Sauté" setting for another 5 min, uncovered. Garnish with chopped scallions and serve.
      = image_tag('chinese-century-egg-and-pork-congee-served.jpg')
