.row.text-center
  .col-sm-2
    = render 'shared/instant_pot_8qt_7_in_1'
  .col-sm-2
    = render 'shared/instant_pot_8qt_6_in_1'
  .col-sm-2
    = render 'shared/instant_pot_6qt_10_in_1'
  .col-sm-2
    = render 'shared/instant_pot_6qt_9_in_1'
  .col-sm-2
    = render 'shared/instant_pot_6qt_6_in_1'
  .col-sm-2
    = render 'shared/instant_pot_6qt_7_in_1'
