!!!
%html{'xmlns:og'=>"http://opengraphprotocol.org/schema/", 'xmlns:fb'=>"http://www.facebook.com/2008/fbml"}
  = render 'shared/head'
  %body
    %header
      = render 'layouts/messages'

    = yield(:content)

    .container-fluid.amazon-container= render 'shared/amazon_row'

  = render 'shared/ga'
