!!!
%html{'xmlns:og'=>"http://opengraphprotocol.org/schema/", 'xmlns:fb'=>"http://www.facebook.com/2008/fbml"}
  = render 'shared/head'
  %body
    %header
      = render 'layouts/messages'

    .container
      .row
        .col-sm-12.text-center
          %h1= yield(:h1)
          %h5= yield(:h5)

      .row
        .col-sm-8.offset-sm-2
          = yield(:hero)

      .row
        .col-sm-6.recipe-panel
          %h3 Ingredients
          = yield(:ingredients)

        .col-sm-6.recipe-panel
          %h3 Instructions
          = yield(:instructions)

    .container-fluid.amazon-container= render 'shared/amazon_row'
    = render 'shared/ga'
